# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.pub
kunalbhatia
.vercel
.cache
.vite

# Reference Images
cha-hun-001.png
hidden_picture_001.png
pencil_pushup_001.png
pencil_pushup_002.png
ch_001.png
db_001.png
